@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Agregar nuevo Rol";
}

@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>Agregar Nuevo Rol de Usuario:</h2>

    @using (Html.BeginForm())
    {
        <p>Ingrese el nombre del rol de usuario:</p>

            @Html.EditorFor(m => m.Name)
            <input type="submit" value="Crear Rol" />
    }
</div>
        
