
@{
    ViewBag.Title = "Lista De Modelos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>Lista De Modelos</h2>

    <p>
        @Html.ActionLink("Nuevo Modelo", "NuevoModelo", "Modelo", new { @class = "btn btn-primary" })
    </p>

    <table id="modelos" class="table table-bordered table-hover dataTable-responsive">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Código</th>
                <th>Nombre</th>
                <th>Marca</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>Código</th>
                <th>Nombre</th>
                <th>Marca</th>
            </tr>
        </tfoot>
    </table>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#menuTaller").addClass('active');
            $("thead").show();
            $("tfoot").show();


            $("#modelos tfoot th").each(function () {
                var title = $(this).text();
                if (title != "")
                    $(this).html('<input type="text" placeholder="Buscar ' + title + '" class="form-control"/>');
            });

            var table = $("#modelos").DataTable({
                "scrollX": true,
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                ajax: {
                    url: "/api/modelos",
                    dataSrc: ""
                },
                columns: [
                    {
                        sortable: false,
                        data: "Id",
                        render: function (data) {
                            return "<a href='/Modelo/EditarModelo/" + data + "' class='btn-link glyphicon glyphicon-edit' title='Editar'></a>";
                        }
                    },
                    {
                        sortable: false,
                        data: "Id",
                        render: function (data) {
                            return "<a href='#' class='btn-link glyphicon glyphicon-remove js-eliminar' title='Eliminar' data-modelo-id=" + data + "></a>";
                        }
                    },
                    {
                        data: "Id"
                    },
                    {
                        data: "Nombre"
                    },
                    {
                        data: "Marca.Nombre"
                    }
                ]
            });

            //Evento click al eliminar un modelo
            $("#modelos").on("click", ".js-eliminar", function () {
                var button = $(this);

                bootbox.confirm({
                    message: "¿Estás seguro de eliminar este modelo?",
                    buttons: {
                        "cancel": {
                            label: "Cancelar"
                        },
                        "confirm": {
                            label: "Eliminar"
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/modelos/" + button.attr("data-modelo-id"),
                                method: "DELETE"
                            })
                            .done(function () {
                                table.row(button.parents("tr")).remove().draw();
                                toastr.success("Modelo eliminado con éxito.");
                            })
                            .fail(function () {
                                toastr.error("No se puedo eliminar el modelo.");
                            });
                        }
                    }
                });
            });

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000
            }
        });
    </script>    
}