@model IEnumerable<GestionTallerDeMotos.Models.ModelosDeDominio.Cliente>
@{
    ViewBag.Title = "Lista De Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista De Clientes</h2>

<p>
    @Html.ActionLink("Nuevo Cliente", "NuevoCliente", "Cliente", new { @class = "btn btn-primary"})
</p>

<table id="clientes" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Tipo de Documento</th>
            <th>Valor Documento</th>
            <th>Personería</th>
        </tr>
    </thead>
    <tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#clientes").DataTable({
                ajax: {
                    url: "/api/clientes",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Id",
                        render: function (data) {
                            return "<a href='/Cliente/EditarCliente/" + data + "' class='btn-link glyphicon glyphicon-edit' title='Editar'></a>";
                        }
                    },
                    {
                        data: "Nombre"
                    },
                    {
                        data: "Apellido"
                    },
                    {
                        data: "TipoDocumento.Descripcion"
                    },
                    {
                        data: "ValorDocumento"
                    },
                    {
                        data: "Personeria.Descripcion"
                    }
                ]
            });
        })
    </script>    
}