body {
    padding-top: 50px;
    padding-bottom: 20px;
}

thead, tfoot {
    display: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error, .validation-summary-errors, label.error {
    color: red;
}

.input-validation-error, select.form-control.error {
    border: 2px solid red;
}

footer{
    float: right;
}

/****************** MENU VERTICAL ********************/
#contenido h2 {
    text-align: center;
}

.dataTables_filter{
    display: none;
}

.dataTable-responsive {
    width: 100% !important;
}

div.dt-buttons {
    float: right;
}

#inicioVentas{
    float: none;
}

.modulo {
    cursor: pointer;
}

i.icono.izquierda{
    padding-right: 10px;
}

/*------------- MENÚ PRINCIPAL------------------*/
.btn-menu {
    display: none;
    padding: 20px;
    color: #222222;
}

.btn-menu .icono {
    float: left;
}

.menu-principal {
    position: fixed;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #e9e9e9;
}

.menu-principal h3 {
    padding: 10px;
    background: #222222;
    margin: 0;
    color: #999999;
    text-align:center;
}

.menu-principal li a {
    display: block;
    padding: 5px 10px;
    background: #e9e9e9;
    font-size: 18px;
}

.menu-principal li a:hover {
    background: #1a95d5;
    color: white;
    border-left: 5px solid #222222;
}

/*.scrollable-menu {
    height: 100%;
    overflow-x: hidden;
}*/

.menu-principal ul li ul li a {
    background: #222222;
    color: #999999;
    margin-left: 0;
    padding-left: 30px;
}

.menu-principal .submenu li a {
    padding-left: 60px;
}

.menu-principal .menu .activado > a {
    background: #428bca;
    color: white;
}

.nav > li > a:focus {
    text-decoration: none;
    background-color: #428bca !important;
    color: white;
}

.menu-principal .icono {
    font-size: 20px;
    padding-top: 2px;
    line-height: 18px;
}

.menu-principal .icono.izquierda {
    /*margin-right: 10px;*/
    float: left;
}

.menu-principal .icono.derecha {
    margin-left: 10px;
    float: right;
    font-size: 15px;
}

@media screen and (max-width: 768px){
    .btn-menu{
        display: block;
    }

    .menu-principal {
        height: 0;
        position:fixed;
        z-index: 1;
    }

    .menu-principal .menu {
        display: none;
        background: #e9e9e9;
    }

    .container h1 {
        text-align: center;
    }
}

.field-Form {
    width: 55%;
    margin: 0 auto;
}

.section-Login {
    background-color: rgba(17,35,36,0.7);
    border: 0px;
    width: 450px;
    opacity: 0.85;
    margin: 50px auto;
    height: 450px;
    -webkit-box-shadow: 2px 14px 26px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 14px 26px -10px rgba(0,0,0,0.75);
    box-shadow: 2px 14px 26px -10px rgba(0,0,0,0.75);
}

.section-Login p {
    color: white;
    text-align: center;
    font-family: 'Segoe UI Light','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

    /* style icon */
    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}